<!-- Header
		    ================================================== -->
<header>
	<div class="logo-box">
		<a class="logo" href="index.html"><img alt="" src="images/logo.png"></a>
	</div>
			
	<a class="elemadded responsive-link" href="#">Menu</a>

	<div class="menu-box">
		<ul class="menu">
			<li><a class="active" href="index.html"><span>Home</span></a></li>
			<li><a href="about.html"><span>About</span></a></li>
			<li><a href="blog.html"><span>blog</span></a></li>
			<li><a href="single-post.html"><span>Single Post</span></a></li>
			<li><a href="contact.html"><span>Contact</span></a></li>
		</ul>				
	</div>

	<div class="filter-box">
		<h3>Filter<i class="fa fa-refresh"></i></h3>
		<ul class="filter">
			<li><a href="#" class="active" data-filter="*">All Works</a></li>
			<li><a href="#" data-filter=".web-design">Web Design</a></li>
			<li><a href="#" data-filter=".photography">Photography</a></li>
			<li><a href="#" data-filter=".illustration">Illustration</a></li>
			<li><a href="#" data-filter=".nature">Nature</a></li>
			<li><a href="#" data-filter=".logo">Logo</a></li>
		</ul>
	</div>

	<div class="social-box">
		<ul class="social-icons">
			<li><a href="#" class="facebook" ><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" class="twitter" ><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" class="google" ><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" class="linkedin" ><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#" class="pinterest" ><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#" class="youtube" ><i class="fa fa-youtube"></i></a></li>
			<li><a href="#" class="github" ><i class="fa fa-github"></i></a></li>
		</ul>
		<p class="copyright">&#169; 2014 Omega, All Rights Reserved</p>
	</div>
</header>
		<!-- End Header -->