<!-- Header
		    ================================================== -->
<header>
	<div class="logo-box">
		<span><h1>每日福利</h1></span>
	</div>
			
	<a class="elemadded responsive-link" href="#">Menu</a>

	<div class="menu-box">
		<ul class="menu">
			<li><a class="active" href="index.html"><span>今日更新</span></a></li>
			<li><a href="about.html"><span>国内美女</span></a></li>
			<li><a href="blog.html"><span>亚洲美女</span></a></li>
			<li><a href="single-post.html"><span>欧美美女</span></a></li>
			<!--<li><a href="contact.html"><span>Contact</span></a></li>-->
		</ul>				
	</div>

	<div class="filter-box">
		<h3>标签<i class="fa fa-refresh"></i></h3>
		<ul class="filter">
            <li><a href="#" class="active" data-filter="*">全部</a></li>
			<li><a href="#" data-filter=".xinggan">性感</a></li>
			<li><a href="#" data-filter=".meisi">美丝</a></li>
		</ul>
	</div>

</header>
		<!-- End Header -->