<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/magnific-popup.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/flexslider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css" media="screen">

</head>
<body>
<div id="container">
    {{>header}}
    {{{body}}}
</div>

{{!-- <div class="info-box">
      <a class="info-toggle" href="#"><i class="fa fa-info-circle"></i></a>
      <div class="info-content">
          <ul>
              <li><i class="fa fa-phone"></i>9930 1234 5679</li>
              <li><i class="fa fa-envelope"></i><a href="#">contact@domain.com</a></li>
              <li><i class="fa fa-home"></i>street address example</li>
          </ul>
      </div>
  </div> --}}

<div class="preloader">
    <img alt="" src="/images/preloader.gif">
</div>


<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.migrate.js"></script>
<script type="text/javascript" src="/javascripts/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.flexslider.js"></script>
<script type="text/javascript" src="/javascripts/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>
