<div  id="content">
    <div class="inner-content container">
        <form action="/posts/upload" method="post" enctype="multipart/form-data">
            <div class="form-group ">
                <label>dirname</label>
                <input type="text" class="form-control" name="dirname" placeholder="dirname">
            </div>

            <div class="form-group ">
                <label>tag</label>
                <input type="text" class="form-control" name="tag" placeholder="tag">
            </div>

            <div class="form-group ">
                <label>area</label>
                <input type="text" class="form-control" name="area" placeholder="tag">
            </div>

            <div class="form-group">
                <input name="file" id="file" type="file" multiple/>
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>




