<!-- content
			================================================== -->
<div id="content">
    <div class="inner-content">
        <div class="single-project">

            <div class="single-box">
                <div class="single-box-content">
                    <div class="project-post-content">

                        <!--<div class="flexslider">-->
                            <!--<ul class="slides">-->
                                <!--<li>-->
                                    <!--<img alt="" src="/images/upload/pic_cnt_1.jpg"/>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<img alt="" src="/images/upload/photo2.jpg"/>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<img alt="" src="/images/upload/photo1.jpg"/>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<img alt="" src="/images/upload/photo2.jpg"/>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <h2>{{postTitle}}</h2>
                        <div class="project-text">
                            {{#each images}}
                                <img class="content-img lazy" src={{url}} alt="">
                            {{/each}}
                            <p></p>
                        </div>

                        <!--<div class="similar-projects">-->
                            <!--<h1>Similar Projects</h1>-->
                            <!--<div class="portfolio-box">-->
                                <!--<div class="project-post">-->
                                    <!--<img alt="" src="/images/upload/image1.jpg">-->
                                    <!--<div class="hover-box">-->
                                        <!--<div class="project-title">-->
                                            <!--<h2>Cool App Design</h2>-->
                                            <!--<span>development, mobile</span>-->
                                            <!--<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="project-post">-->
                                    <!--<img alt="" src="/images/upload/image2.jpg">-->
                                    <!--<div class="hover-box">-->
                                        <!--<div class="project-title">-->
                                            <!--<h2>Cool App Design</h2>-->
                                            <!--<span>development, mobile</span>-->
                                            <!--<div><a href="single-project.html"><i class="fa fa-arrow-right"></i></a>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="sidebar">
                    <div class="post-info">
                        <p>
                            觉得不错就点个赞，观众老爷们的赞赏是我更新的动力
                        </p>
                        <img class="donate-img" alt="" src="/images/dashang1.jpg">
                    </div>

                    <hr>

                    <!--<div class="project-gallery">-->
                        <!--<h1>好图推荐</h1>-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<a href="#"><img alt="" src="/images/upload/pic_cnt_1.jpg"></a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#"><img alt="" src="/images/upload/pic_cnt_1.jpg"></a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#"><img alt="" src="/images/upload/pic_cnt_1.jpg"></a>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End content -->